<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Background music</title>
    <link rel="stylesheet" href="css/bootstrap.css">
<script src="js/bootstrap.js"></script>

<style>

.back { 
    width: 50px;
    height: 50px;
    margin-left: 0%;
}
.div1 {
    width: 20%;
    height: 50px;
    float: left;
    background-color: rgb(28,12,116);
}
.div2 {
    width: 80%;
    height: 50px;
    float: right;
    background-color: rgb(28,12,116);
    text-align: center;
    color: white;
}
.add {
    width: 50px;
    height: 50px;
    margin-left: 47%;
}

</style>

</head>
<body>
  
    <div class="xs fixed-top" >
    <div class="div1" >
       <a href="index.html"><img class="back" src="images/back9x1.jpg" alt=""></a>
   </div> 

   <div class="div2" >
  <h3  style="margin-right: 22%;" >Back ground music</h3>
   </div>
</div>
<br><br>
<p>This is a section where we can share background music(audio) which can be used by creators while creating their clips.</p>

   <footer class="footer  fixed-bottom" >
       
             <img class="add" src="images/addx.png" alt="">
       
   </footer>

</head>
<body>
    
</body>
</html>