<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Replies</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <script src="../static/js/bootstrap.js"></script>
    
    <link rel="stylesheet" href="../static/css/style.css">
<style>
  body {
    background-image: url("../static/images/x1.jfif");
  }
  .back {
      width: 40px;
      height: 40px;
      margin-left: 1%;
      border-radius: 50%;
  }
  textarea {
    text-align: center;
    border-radius: 10px;

    
}
.head {
  padding-top: 5px;
}
</style>

</head>
<body>
         <div class="head  fixed-top " >
           <div class="div1" >
             <a href="/chagods"> <img class="back" src="../static/images/test4.jpg" alt=""> </a>
          </div>
             
   
       </div>

       <!--  The add is for adding replies for a specific challenge in talent posts -->




<footer class="row fixed-bottom" >
  <div class="xs" >  
    <div class="x1" >
       <a href="/tapac"><img class="dp" src="images/dp2x.jpg" alt=""></a>
  </div>

  <div class="x2" >
      <a href=""><img class="viral" src="images/flashx1.jpg" alt=""></a>
      <p style="color: white;" >120k</p>
      <!-- when you tap the number 120k turns from white to red -->
  </div>

  <div class="x3">
     <a href=""   data-bs-target="#commentmodal" data-bs-toggle="modal"  > <img class="comments" src="images/comments.jfif" alt=""> </a>
     <p   style="color: white">60k</p>
     <!-- when you tap the number 60k turns from white to red -->
  </div>

    <div  class="x4">
         <a href=""> <img class="download" src="images/downloadx3.jpg" alt=""> </a>
    </div>

   <div  class="x5">
       <a href=""><img class="share" src="images/sharex6.jpg" alt=""></a>
   </div>

  </div>
</footer>


<!-- below are modals -->
<!-- comment modal -->

<div id="commentmodal" class="modal">
    <div class="modal-dialog" >
       <div class="modal-content" >
           <div class="modal-header fixed-top" >
               <div class="div1" >
                      <h4>Comments</h4>
               </div>
               <div class="div2" >
                  <a href="chagodsreplies.html"><img class="excomment" src="images/x3.jfif" alt=""></a>
               </div>
           </div>
           <br><br><br>
           <div class="modal-body" >
             
            <div class="examplecomment" >
               <a href="tapac.html"><img class="dpcomment" src="images/shoe2.jfif" alt=""></a>
               <p  class="text-muted ms-3 pt-2" >Really like this clip.</p>
             </div>
             <p class="time text-muted" >12.09pm</p>




           </div>
           <div class="modal-footer fixed-bottom  " >
               <div class="commentarea" >
                  <textarea class="ms-5"  name="" id="" cols="40" rows="2" placeholder="add comment"></textarea>
                  <a href=""><img class="sendcomment ms-4" src="images/se9.png" alt=""></a>
                </div>
           </div>
       </div>
     <!-- above div closes the content -->
      </div>
  
   <div> 





</body>
</html>