<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>following</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <script src="../static/js/bootstrap.js"></script>

    <style>
body {
    background-image: url("../static/images/x1.jfif");
}
    </style>
</head>
<body>
    <h3 class="text-white" >following</h3>
    {% for row in data %}
    <h3 class="text-white" > {{ row[1] }} </h3>
    {% endfor %}
</body>
</html>