<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Replies</title>

    <link rel="stylesheet" href="../static/css/bootstrap.css">
<script src="../static/js/bootstrap.js"></script>
<link rel="stylesheet" href="../static/css/style.css">

<style>
    body {
        background-image: url("../static/images/x1.jfif");
    }
.back {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 1%;
}
.header {
    padding-top: 5px;
}
.card-header {
    display: flex;
    background-color: white;
}
.dp {
    width: 35px;
    height: 35px;
    border-radius: 50%;

}
.thread {
    
    min-width: 100%;
    min-height: 230px;
}
.foot {
    width: 30px;
    height: 30px;
    border-radius: 50%;

}
.card-footer {
    display: flex;
}
.time {
    
    margin-left: 40%;
}
.time2 {
    margin-left: 25%;
}
.repcomments {
max-width: 60%;
margin-left: 5%;
background-color: white;
border-radius: 5px;
}
.ex {
    width: 40px;
    height: 40px;
}
.head {
    margin-top: 2%;
    display: flex;
    margin-left: 5%;
}
.footer {
    display: flex;
    margin-left: 5%;
}
</style>
</head>
<body>
<div class="thread fixed-top " >

    <div class="header " >
        <a href="/replygods"><img class="back" src="../static/images/test4.jpg" alt=""></a>
    
    </div>
    
        
    

    <div class="card-shadow" >
        <div  class="card" >
            <div class="card-header" >
                <img class="dp" src="../static/images/clothe1.jfif" alt="">
                <h4 class="pt-2 ms-2" >Manoti</h4>

            </div>
            <div class="card-body" >
           <p class="text-muted" >What happened to Rose Muhando, i thought she was the most talented gospel artist in East Africa.</p>
            </div>
            <div class="card-footer" >
                <a href=""><img class="foot ms-1" src="../static/images/pulse3x.png" alt=""></a><p class="text-muted ms-1 pt-1" >200k</p>
                <img class="foot ms-3" src="../static/images/comments.jfif" alt=""  data-bs-target="#mymodalcomment" data-bs-toggle="modal"><p class="text-muted ms-1 pt-1" >150k</p>

            <a href=""><img class="foot ms-3" src="../static/images/sh8.jfif" alt=""></a>
             <p class="time text-muted " >11:45pm</p>
            </div>


        </div>

    </div>

</div>
    
<br><br><br><br><br><br><br><br><br><br><br><br>

<div class="repcomments" >
 <!--  -->
 <div class="head" >
    <img class="dp" src="../static/images/shoe2.jfif" alt="">
    <h6 class="pt-2 ms-2" >@DESHALB</h6>
</div>

   <p class="text-muted" >She Rose above the normal levels ikakuwa hatuwezi Muhando tena.</p>
    

    <div class="footer" >
    <a href=""><img class="foot" src="../static/images/flashx1.jpg" alt=""> </a> <p class="ms-2 pt-1" >200m</p>
     <img class="foot ms-3 " src="../static/images/sh8.jfif" alt="">
     <p class="time2 text-muted " >12:05pm</p>
    </div>
   <hr>

   <div class="head" >
    <img class="dp" src="../static/images/shoe2.jfif" alt="">
    <h6 class="pt-2 ms-2" >@Muriimi</h6>
</div>

   <p class="text-muted" >She Rose above the normal levels ikakuwa hatuwezi Muhando tena.</p>
    

    <div class="footer" >
    <a href=""><img class="foot" src="../static/images/flashx1.jpg" alt=""> </a> <p class="ms-2 pt-1" >20k</p>
     <img class="foot ms-3 " src="../static/images/sh8.jfif" alt="">
     <p class="time2 text-muted " >12:17pm</p>
    </div>
   <hr>


    <div class="head" >
        <img class="dp" src="../static/images/shoe2.jfif" alt="">
        <h6 class="pt-2 ms-2" >@junior</h6>
    </div>
    
       <p class="text-muted" >haha.</p>
        
    
        <div class="footer" >
        <a href=""><img class="foot" src="../static/images/flashx1.jpg" alt=""> </a> <p class="ms-2 pt-1" >60k</p>
         <img class="foot ms-3 " src="../static/images/sh8.jfif" alt="">
         <p class="time2 text-muted " >12:23pm</p>
        </div>
       <hr>


        <div class="head" >
            <img class="dp" src="../static/images/shoe2.jfif" alt="">
            <h6 class="pt-2 ms-2" >@Muriithi</h6>
        </div>
        
           <p class="text-muted" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi quibusdam numquam sequi voluptates, iure eveniet iste esse excepturi obcaecati temporibus repellendus qui. Laboriosam quis ullam sint, itaque deleniti amet accusamus!</p>
            
        
            <div class="footer" >
            <a href=""><img class="foot" src="../static/images/flashx1.jpg" alt=""> </a> <p class="ms-2 pt-1" >6k</p>
             <img class="foot ms-3 " src="../static/images/sh8.jfif" alt="">
             <p class="time2 text-muted " >12:28pm</p>
            </div>
        <hr>
    <!--  -->
    
</div>

<br><br><br><br><br>

<div class="repcomments" >
    <div class="card-shadow" >
        <div  class="card" >
            <div class="card-header" >
                <!-- <img class="dp" src="../static/images/shoe2.jfif" alt=""> -->
                <!-- <h4 class="pt-2 ms-2" >DESHALB</h4> -->

            </div>
            <div class="card-body" >
                <!--  -->
                <div class="head" >
            <img class="dp" src="../static/images/shoe2.jfif" alt="">
            <h6 class="pt-2 ms-2" >@DESHALB</h6>
        </div>

           <p class="text-muted" >She Rose above the normal levels ikakuwa hatuwezi Muhando tena.</p>
            </div>

            <div class="footer" >
            <a href=""><img class="foot" src="../static/images/flashx1.jpg" alt=""> </a> <p class="ms-2 pt-1" >200m</p>
             <img class="foot ms-3 " src="../static/images/sh8.jfif" alt="">
             <p class="time2 text-muted " >12:05pm</p>
            </div>
           <br>

           <div class="head" >
            <img class="dp" src="../static/images/shoe2.jfif" alt="">
            <h6 class="pt-2 ms-2" >@DESHALB</h6>
        </div>

           <p class="text-muted" >She Rose above the normal levels ikakuwa hatuwezi Muhando tena.</p>
            </div>

            <div class="footer" >
            <a href=""><img class="foot" src="../static/images/flashx1.jpg" alt=""> </a> <p class="ms-2 pt-1" >200m</p>
             <img class="foot ms-3 " src="../static/images/sh8.jfif" alt="">
             <p class="time2 text-muted " >12:05pm</p>
            </div>
           
            <!--  -->
            <div class="card-footer" >
            <a href=""><img class="foot" src="../static/images/flashx1.jpg" alt=""> </a> <p class="ms-2 pt-1" >200m</p>
             <img class="foot ms-3 " src="../static/images/sh8.jfif" alt="">
             <p class="time2 text-muted " >12:05pm</p>
            </div>


        </div>

    </div>

</div>
<br>
<div class="repcomments" >
    <div class="card-shadow" >
        <div  class="card" >
            <div class="card-header" >
                <img class="dp" src="../static/images/shoe2.jfif" alt="">
                <h4 class="pt-2 ms-2" >Murimii_</h4>

            </div>
            <div class="card-body" >
           <p class="text-muted" >She Rose.</p>
            </div>
            <div class="card-footer" >
            <a href=""><img class="foot" src="../static/images/flashx1.jpg" alt=""> </a> <p class="ms-2 pt-1" >11k</p>
             <img class="foot ms-3 " src="../static/images/sh8.jfif" alt="">
             <p class="time2 text-muted " >12:09pm</p>
            </div>


        </div>

    </div>

</div>
    <br>
    
    <div class="repcomments" >
        <div class="card-shadow" >
            <div  class="card" >
                <div class="card-header" >
                    <img class="dp" src="../static/images/shoe2.jfif" alt="">
                    <h4 class="pt-2 ms-2" >Mwendia jnr</h4>
    
                </div>
                <div class="card-body" >
               <p class="text-muted" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam corporis dolore harum. Officia, aliquam. Cupiditate quaerat similique sequi adipisci amet quia incidunt iure, sit consectetur error aspernatur autem doloribus iste..</p>
                </div>
                <div class="card-footer" >
                <a href=""><img class="foot" src="../static/images/flashx1.jpg" alt=""> </a> <p class="ms-2 pt-1" >2k</p>
                 <img class="foot ms-3 " src="../static/images/sh8.jfif" alt="">
                 <p class="time2 text-muted " >12:22pm</p>
                </div>
    
    
            </div>
    
        </div>
    
    </div>
      
    <div id="mymodalcomment" class="modal">
        <div class="modal-dialog" >
           <div class="modal-content" >
               <div class="modal-header" >
                   <div class="div1" >
                          <h4>Reply to @Manoti post </h4>
                   </div>
                   <div class="div2" >
                      <a href="/godsx"><img class="ex" src="../static/images/x3.jfif" alt=""></a>
                   </div>
               </div>
               <div class="modal-body" >
                 <textarea name="" id="" cols="50" rows="3"></textarea>
                 <a href="" class="btn btn-outline-dark" >send</a>
               <div class="modal-footer" >
                   <p class="text-muted" >Motivational speaker:</p><br>
                   <p class="text-muted" >I started my water company with only my saliva.</p>  
            </div>
           </div>
         <!-- above div closes the content -->
          </div>
      
        </div> 
    <!--  daily clip  modal-->
    
    
</head>
<body>
    
    
    
</body>
</html>