<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>comments</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <script src="../static/js/bootstrap.js"></script>
  
    <link rel="stylesheet" href="../static/css/style.css">

<style>
    body {
        background-image: url("../static/images/x1.jfif");
    }
.back {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 1%;
}
.header {
    padding-top: 5px;
}
.card-header {
    display: flex;
    background-color: white;
}
.dp {
    width: 50px;
    height: 50px;
    border-radius: 50%;

}
.thread {
    
    min-width: 100%;
    max-width: 100%;
    min-height: 230px;
}
.foot {
    width: 30px;
    height: 30px;
    border-radius: 50%;

}
.card-footer {
    display: flex;
}
.time {
    
    margin-left: 40%;
}
.time2 {
    margin-left: 30%;
}
.repcomments {
max-width: 60%;
margin-left: 5%;
}
.ex {
    width: 40px;
    height: 40px;
}
</style>
</head>
<body>

    
<div class="thread " >
    <div class="header fixed-top " >
        <a href="/replylegends"><img class="back" src="../static/images/test4.jpg" alt=""></a>
    
    </div>
    <br><br>


    <div class="card-shadow" >
        <div  class="card" >
            <div class="card-header" >
                <img class="dp" src="../static/images/clothe1.jfif" alt="">
                <h4 class="pt-2 ms-2" >Manoti</h4>

            </div>
            <div class="card-body" >
                <p class="text-muted" >Enyewe kuanzia biz ni ngori, huyu amenunua bale ya second hand clothes akapata nguo za karate pekee.</p>
         
            </div>
            <div class="card-footer" >
                <a href=""><img class="foot ms-1" src="../static/images/pulse3x.png" alt=""></a><p class="text-muted ms-1 pt-1" >200k</p>
                <img class="foot ms-3" src="../static/images/comments.jfif" alt=""  data-bs-target="#mymodalcomment" data-bs-toggle="modal"><p class="text-muted ms-1 pt-1" >150k</p>

            <a href=""><img class="foot ms-3" src="../static/images/sh8.jfif" alt=""></a>
             <p class="time text-muted " >11:45pm</p>
            </div>


        </div>

    </div>

</div>
    
<br>
<div class="repcomments" >
    <div class="card-shadow" >
        <div  class="card" >
            <div class="card-header" >
                <img class="dp" src="../static/images/shoe2.jfif" alt="">
                <h4 class="pt-2 ms-2" >DESHALB</h4>

            </div>
            <div class="card-body" >
           <p class="text-muted" >Mwambie azivalie apigane na umaskini.</p>
            </div>
            <div class="card-footer" >
            <a href="/repliesx"><img class="foot" src="../static/images/flashx1.jpg" alt=""> </a> <p class="ms-2 pt-1" >200m</p>
             <img class="foot ms-3 " src="../static/images/sh8.jfif" alt="">
             <p class="time2 text-muted " >12:05pm</p>
            </div>


        </div>

    </div>

</div>
<br>
<div class="repcomments" >
    <div class="card-shadow" >
        <div  class="card" >
            <div class="card-header" >
                <img class="dp" src="../static/images/shoe2.jfif" alt="">
                <h4 class="pt-2 ms-2" >Murimii_</h4>

            </div>
            <div class="card-body" >
           <p class="text-muted" >She Rose.</p>
            </div>
            <div class="card-footer" >
            <a href="/repliesx"><img class="foot" src="../static/images/flashx1.jpg" alt=""> </a> <p class="ms-2 pt-1" >11k</p>
             <img class="foot ms-3 " src="../static/images/sh8.jfif" alt="">
             <p class="time2 text-muted " >12:09pm</p>
            </div>


        </div>

    </div>

</div>
    <br>
    
    <div class="repcomments" >
        <div class="card-shadow" >
            <div  class="card" >
                <div class="card-header" >
                    <img class="dp" src="../static/images/shoe2.jfif" alt="">
                    <h4 class="pt-2 ms-2" >Mwendia jnr</h4>
    
                </div>
                <div class="card-body" >
               <p class="text-muted" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam corporis dolore harum. Officia, aliquam. Cupiditate quaerat similique sequi adipisci amet quia incidunt iure, sit consectetur error aspernatur autem doloribus iste..</p>
                </div>
                <div class="card-footer" >
                <a href="/repliesx"><img class="foot" src="../static/images/flashx1.jpg" alt=""> </a> <p class="ms-2 pt-1" >2k</p>
                 <img class="foot ms-3 " src="../static/images/sh8.jfif" alt="">
                 <p class="time2 text-muted " >12:22pm</p>
                </div>
    
    
            </div>
    
        </div>
    
    </div>
      
    <div id="mymodalcomment" class="modal">
        <div class="modal-dialog" >
           <div class="modal-content" >
               <div class="modal-header" >
                   <div class="div1" >
                          <h4>Reply to @Manoti post </h4>
                   </div>
                   <div class="div2" >
                      <a href="/legendx"><img class="ex" src="../static/images/x3.jfif" alt=""></a>
                   </div>
               </div>
               <div class="modal-body" >
                 <textarea name="" id="" cols="50" rows="3"></textarea>
                 <a href="" class="btn btn-outline-dark" >send</a>
               <div class="modal-footer" >
                   <p class="text-muted" >Motivational speaker:</p><br>
                   <p class="text-muted" >I started my water company with only my saliva.</p>  
            </div>
           </div>
         <!-- above div closes the content -->
          </div>
      
        </div> 
    <!--  daily clip  modal-->
    
    
</head>
<body>
    
</body>
</html>